From: <{{.From}}>
To: {{ range .To }} <{{.}}>, {{ end }}
Subject: Contact form submission from {{.Event.Host}}

Name: {{.Event.Name}}
Org: {{.Event.Org}}
Contact Details: {{.Event.Details}}

{{.Event.Msg}}


Requesting IP: {{.Event.IP}}